{
  "singleQuote": true,
  "trailingComma": "all",
  "importOrderParserPlugins": [
    "typescript",
    "classProperties",
    "decorators-legacy",
    "jsx"
  ],
  "importOrder": ["<THIRD_PARTY_MODULES>", "^@/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
